@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jost:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Jost', sans-serif;
  }

  body {
    color: hsl(0, 0%, 92%);
    background-color: hsl(216, 18%, 16%);
  }
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0ebe3;
  /* border-radius: 1ex; */
}

::-webkit-scrollbar-thumb {
  background: hsl(164, 60%, 50%);
  border-radius: 1ex;
}

.scroll-header {
  position: fixed;
  background-color: hsl(213, 10%, 21%);
  animation: header_animate 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0s forwards;
}

@keyframes header_animate {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}




 .swiper-pagination-bullet {
  margin-top: 40px;
  border: 2px solid white;
  background-color: #4a5568;
}

.swiper-pagination-bullet-active {
  background-color: #f56565;
  width: 0.75rem;
  height: 0.75rem;
} 
 


.swiper-pagination-bullet{
  display: none!important;
}


.contact__container {
  grid-template-columns: 5fr 7fr;
}

.contact__card {
  padding-left: 130px;
  margin-bottom: 40px;
  position: relative;
}

.contact__card-icon,
.contact__form-input {
  border: 2px solid hsl(210, 2%, 65%);
  background-color: hsl(217, 18%, 14%);
}

.contact__card-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
  font-size: 20px;
  display: grid;
  place-items: center;
}

.contact__card-icon::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: hsl(210, 2%, 65%);
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
}

.contact__card-title {
  font-size: 30px;
  font-family: Caveat;
  padding-block: 6px;
}









.spiner {
  width: 100px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}





/* footer */

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}



/* resumme */
.resume__item:not(:first-child) {
  border-right: 2px solid hsl(210, 2%, 65%);
}




.resume__icon {

  border: 2px solid hsl(210, 2%, 65%);
  font-size: 30px;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 1.3em;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: -24px;
  bottom: -24px;
  z-index: 10;
  transition: all 1.2s cubic-bezier(0.3, 0, 0.3, 1);
}

.resume__content {
  padding-inline: 30px 10px;
  transition: all 1s ease 0s;
}

.resume__title {
  font-family: Caveat;
  font-size: 28px;
}

.resume__date {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: 700;
}

.resume__desc {
  margin-block: 20px 30px;
}


.portfolio__items:hover .portfolio__img {
  transform: scale(1.04);

}




.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}


.loader {    
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}




.spinner {
  width: 30px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

